@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

:root {
    --rosa: #D991B9;
    --roxo: #453159;
    --lilas: #A993BF;
    --lilas-escuro: #7C68A6;
}

* {
    font-family: 'Poppins', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #ececec !important;
}

.navbar-nav > li > a.active {
    color: white !important;
}

body {
    background-color: var(--lilas-escuro);
}

.card {
    background-color: var(--roxo);
}

.group-card {
    overflow: hidden;
}

@media (min-width: 768px) { 
    .group-card {
        height: 18rem !important;
    }
}
